---
// All WordPress Pages (except the front page, served by index.astro).
// Mirrors the Gatsby page template: HeroHeader (featured image as parallax bg,
// excerpt as subhead) + content wrapped in the .soames-gatsby-content container.
import Base from "@theme/layouts/Base.astro";
import HeroHeader from "@theme/components/HeroHeader";
import Shortcodes from "@theme/components/shortcodes/Shortcodes";
import RemoveContentAreaPadding from "@theme/components/shortcodes/RemoveContentAreaPadding";
import { getPages } from "../lib/wp";

export async function getStaticPaths() {
  const pages = await getPages();
  return pages
    .filter((page) => page.uri !== "/") // front page handled by index.astro
    .map((page) => {
      const clean = page.uri.replace(/^\/+|\/+$/g, "");
      return { params: { uri: clean || undefined }, props: { page } };
    });
}

const { page } = Astro.props;
---
<Base pageTitle={page.title} description={page.excerpt}>
  <HeroHeader
    title={page.title}
    subhead={page.excerpt}
    backgroundImage={page.featuredImage?.sourceUrl ?? null}
    overlayOpacity={page.overlayOpacity}
  />
  {page.content && (
    <section id="soames-gatsby-content-container" class="soames-gatsby-content">
      <RemoveContentAreaPadding />
      <Shortcodes html={page.content} />
    </section>
  )}
</Base>
